<span property="eli:number">Artikel 1</span>
<span property="prov:value">
  <p>Akte te nemen van:</p>
  <br>
  {{#if artikel1Geen}}
    Het ontbreken van afstanden van mandaat;
  {{else}}
    {{#if (is-empty artikel1A)}}
      <!-- no text? -->
    {{else}}
      De afstand van mandaat van volgende verkozenen:
      <ul>
        {{#each artikel1A as |mandataris|}}
          <li>
            <span typeof="ext:NoLidBijzonderComite" resource={{mandataris.uri}}>
              <span property="ext:noLidBijzonderComiteStatus" content={{mandataris.afstandVanMandaatStatus.key}}>&nbsp;</span>
              <span property="ext:noLidBijzonderComitePersoon" resource={{mandataris.isBestuurlijkeAliasVan.uri}}>
                {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
                {{mandataris.isBestuurlijkeAliasVan.achternaam}};
              </span>
            </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (is-empty artikel1AK)}}
      <!-- no text? -->
    {{else}}
      De afwezigheid met kennisgeving van:
      <ul>
        {{#each artikel1AK as |mandataris|}}
          <li>
            <span typeof="ext:NoLidBijzonderComite" resource={{mandataris.uri}}>
              <span property="ext:noLidBijzonderComiteStatus" content={{mandataris.afstandVanMandaatStatus.key}}>&nbsp;</span>
              <span property="ext:noLidBijzonderComitePersoon" resource={{mandataris.isBestuurlijkeAliasVan.uri}}>
                {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
                {{mandataris.isBestuurlijkeAliasVan.achternaam}};
              </span>
            </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (is-empty artikel1AZK)}}
      <!-- no text? -->
    {{else}}
      De afwezigheid zonder kennisgeving van volgende verkozenen:
      <ul>
        {{#each artikel1AZK as |mandataris|}}
          <li>
            <span typeof="ext:NoLidBijzonderComite" resource={{mandataris.uri}}>
              <span property="ext:noLidBijzonderComiteStatus" content={{mandataris.afstandVanMandaatStatus.key}}>&nbsp;</span>
              <span property="ext:noLidBijzonderComitePersoon" resource={{mandataris.isBestuurlijkeAliasVan.uri}}>
                {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
                {{mandataris.isBestuurlijkeAliasVan.achternaam}};
              </span>
            </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (is-empty artikel1VK)}}
      <!-- no text? -->
    {{else}}
      Het niet voldoen aan de verkiesbaarheidsvoorwaarden van:
      <ul>
        {{#each artikel1VK as |mandataris|}}
          <li>
            <span typeof="ext:NoLidBijzonderComite" resource={{mandataris.uri}}>
              <span property="ext:noLidBijzonderComiteStatus" content={{mandataris.afstandVanMandaatStatus.key}}>&nbsp;</span>
              <span property="ext:noLidBijzonderComitePersoon" resource={{mandataris.isBestuurlijkeAliasVan.uri}}>
                {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
                {{mandataris.isBestuurlijkeAliasVan.achternaam}};
              </span>
            </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (is-empty artikel1OV)}}
      <!-- no text? -->
    {{else}}
      Het bestaan van een situatie van onverenigbaarheid in hoofde van volgende verkozenen:
      <ul>
        {{#each artikel1OV as |mandataris|}}
          <li>
            <span typeof="ext:NoLidBijzonderComite" resource={{mandataris.uri}}>
              <span property="ext:noLidBijzonderComiteStatus" content={{mandataris.afstandVanMandaatStatus.key}}>&nbsp;</span>
              <span property="ext:noLidBijzonderComitePersoon" resource={{mandataris.isBestuurlijkeAliasVan.uri}}>
                {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}}
                {{mandataris.isBestuurlijkeAliasVan.achternaam}};
              </span>
            </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}
</span>
