<td>
  <strong>{{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}</strong>
  {{#if showOpvolgers}}
    {{comite-aanstelling/artikel-3/opvolgers/table mandataris=mandataris mandatarissen=mandatarissen statusCodes=statusCodes}}
  {{/if}}
</td>
<td>
  {{comite-aanstelling/datetime-edit datetimeStr=(mut mandataris.start)}}
</td>
<td>
  {{comite-aanstelling/datetime-edit datetimeStr=(mut mandataris.einde)}}
</td>
<td>
  {{comite-aanstelling/artikel-3/status-selector mandataris=mandataris statusCodes=statusCodes}}
</td>
<td>
  {{#wu-link-button class="button--small" isNarrow=true onClick=(action "toggleOpvolgers")}}
    <i class="vi vi-edit"></i> Beheer opvolgers
  {{/wu-link-button}}
</td>
